<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire Instructions</title>
    <link rel="stylesheet" href="/static/question.css">
</head>
<body>
    <div class="container">
        <h1>Important Information for Filling Out the Questionnaire</h1>

        <section>
            <h2>Instructions for the Questionnaire</h2>
            <ul>
                <li><strong>Separate Evaluation for Each System:</strong> The questionnaire is divided into <strong>two sections</strong>, one for each system:
                    <ul>
                        <li><strong>System A</strong></li>
                        <li><strong>System B</strong> </li>
                    </ul>
                </li>
                <li><strong>Provide Honest Feedback:</strong> Use the provided 1 (<strong>Strongly Disagree</strong>) to 5 (<strong>Strongly Agree</strong>) scale to rate your responses.</li>
                <li><strong>Unique Feedback for Each System:</strong> Ensure your responses for <strong>System A</strong> and <strong>System B</strong> are based only on your experience with the respective system.</li>
                <li><strong>Submit Once Completed:</strong> Submit the form once you have answered all questions for both systems.</li>
            </ul>
        </section>



        <section class="text-center">
            <h2>Ready to Provide Feedback?</h2>
            <p>Click the button below to start the questionnaire.</p>
            <button onclick="location.href='https://docs.google.com/forms/d/e/1FAIpQLScvarEgrA0qFbKFsWEzwSqeAaO9B2VfqlY_xyijCCJy7nJu_Q/viewform?usp=sharing'">To the Questionnaire</button>
        </section>
    </div>
</body>
</html>
